# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# PEMS

# Ignore mongo database files
mongo_data
mongo_data_staged

# Ignoring webpack bundles
public/*.css
public/*.js
public/*.map

# Build directory for project
build
build-new
build-bak
build-staged

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules

# Ignore v8 build
v8-compile-cache-0

# Ignore .env configuration files/folders
.env
.env.tmp
.vscode

# Ignore .DS_Store files on OS X
.DS_Store
