//
// Start style config variables
//

// background-color bgc
$backgroundColor : (
  (vals: (
    'white'         : $color-white,
    'alabaster'     : $color-alabaster,
    'lightgray'     : $color-lightgray,
    'gray'          : $color-gray,
    'dark-gray'     : $color-dark-gray,
    'black'         : $color-black,
    'purple'        : $color-purple,
    'mid-purple'    : $color-mid-purple,
    'dark-purple'   : $color-dark-purple,
    'pale-blue'     : $color-pale-blue,
    'brass'         : $color-brass,
    'dark-blue'     : $color-dark-blue,
    'bright-red'    : $color-bright-red,
    'dark-green'    : $color-dark-green,
    'neon-yellow'   : $color-neon-yellow,
    'almond'        : $color-almond,
    'mid-blue'      : $color-mid-blue,
    'french-rose'   : $color-french-rose,
    't'             : transparent,
    'mid-blue-\\.1a': rgba($color-mid-blue, .1),
    'black-\\.5a'   : rgba($color-black   , .5),
    'almond-\\.5a'  : rgba($color-almond  , .5),
    'black-\\.8a'   : rgba($color-black   , .8),
  )),
  (vals: (
    'white'      : $color-white,
    'black'      : $color-black,
    ),
    bp: $bp-lg-mx,
  ),
  (vals: (
    'pale-blue'      : $color-pale-blue,
    ),
    bp: $bp-md-mx,
  ),
);

$backgroundColorHover: (
  (vals: (
    'brass'       : $color-brass,
    'purple'      : $color-purple,
    'dark-blue'   : $color-dark-blue,
    'mid-purple'  : $color-mid-purple,
    'bright-red'  : $color-bright-red,
    'neon-yellow' : $color-neon-yellow,
    'almond'      : $color-almond,
    'darkgray'    : $color-dark-gray,
  )),
);

// border bd, bt, bb, bl, br
$border: (
  (vals:(
    ('1-s-white',       1px solid $color-white),
    ('1-s-lightgray',   1px solid $color-lightgray),
    ('1-s-gray',        1px solid $color-gray),
    ('1-s-dark-gray',   1px solid $color-dark-gray),
    ('1-s-black',       1px solid $color-black),
    ('1-s-purple',      1px solid $color-purple),
    ('3-s-purple',      3px solid $color-purple),
    ('1-s-dark-purple', 1px solid $color-dark-purple),
    ('1-s-brass',       1px solid $color-brass),
    ('4-s-french-rose', 4px solid $color-french-rose),
    ('2-s-dark-gray',   2px solid $color-dark-gray),
    ('2-s-bright-red',  2px solid $color-bright-red),
    ('2-s-black',       2px solid $color-black),
    ('8-s-neon-yellow', 8px solid $color-neon-yellow),
    ('8-s-french-rose', 8px solid $color-french-rose),
    ('8-s-pale-blue',   8px solid $color-pale-blue),
  )),
);

// border-radius bdrs
$borderRadius: (
  (vals: ('1': 1px,'2': 2px,'3': 3px,'4': 4px, '5': 5px, '6': 6px, '7': 7px,
          '8': 8px, '9': 9px, '10': 10px, '50': 50px,)),
);

/// bottom b
$bottom: (
  (vals: ('-32': -32px, '-8': -8px, '0': 0px, '2': 2px, '24': 24px,)),
);

/// left l
$left: (
  (vals: ('-56': -56px, '-16': -16px, '-8': -8px, '0': 0, '8': 8px, '10': 10px,
          '16': 16px, '50': 50px, '192': 192px, '323': 323px, '470': 470px,
          '608': 608px, '698': 698px, '797': 797px, )),
  (vals: ('0': 0), bp: $bp-lg-mx,),
  (vals: ('0': 0), bp: $bp-md-mx,),
  (vals: ('0': 0), bp: $bp-sm-mx,),
);

$left-perc: (
  (vals: ('100': 100%, '150': 150%)),
  (vals: ('100': 100%), bp: $bp-lg-mx,),
  (vals: ('10': 10%), bp: $bp-md-mx,),
);

/// right r
$right: (
  (vals: ('-16': -16px, '-8': -8px, '0': 0, '1': 1px, '10': 10px, '16': 16px,
          '32': 32px, '48': 48px, )),
  (vals: ('-8': -8px, '16': 16px, ), bp: $bp-lg-mx,),
  (vals: ('0': 0, '30': 30px, ), bp: $bp-md-mx,),
  (vals: ('50': 50px), bp: $bp-sm-mx,),
);

$right-perc: (
  (vals: ('100': 100%)),
);

/// top t
$top: (
  (vals: ('-75': -75px, '-50': -50px, '-42': -42px, '-20': -20px, '-8': -8px, '-5': -5px,
          '0': 0, '16': 16px, '20': 20px, '32': 32px,)),
  (vals: ('16': 16px, '40': 40px,), bp: $bp-lg-mx,),
  (vals: ('-80': -80px, '0': 0,), bp: $bp-md-mx,),
);

$top-perc: (
  (vals: ('50': 50%, '80': 80%, '100': 100%)),
  (vals: ('100': 100%), bp: $bp-md-mx,),
  (vals: ('10': 10%), bp: $bp-650h-mih,),
  (vals: ('10': 10%), bp: $bp-650h-mah,),
  (vals: ('10': 10%), bp: $bp-sm-mx,),
);

// clear cl
$clear: (
  (vals: ('b': 'both', 'l': 'left', 'r': 'right')),
);

// color c
$color : (
  (vals: (
    'white'      : $color-white,
    'lightgray'  : $color-lightgray,
    'gray'       : $color-gray,
    'dark-gray'  : $color-dark-gray,
    'black'      : $color-black,
    'dark-purple': $color-dark-purple,
    'purple'     : $color-purple,
    'mid-purple' : $color-mid-purple,
    'pale-blue'  : $color-pale-blue,
    'brass'      : $color-brass,
    'dark-blue'  : $color-dark-blue,
    'bright-red' : $color-bright-red,
    'neon-yellow': $color-neon-yellow,
    'almond'     : $color-almond,
    'mid-blue'   : $color-mid-blue,
    'french-rose': $color-french-rose,
  )),
);

$colorHover: (
  (vals: ('white': $color-white,)),
  (vals: ('brass': $color-brass,)),
);

//box-shadow txsh
$boxShadow: (
  (vals: (
    '0-1-2-0-shadow' : 0 1px 2px 0 $color-black-transparent,
    '0-2-2-0-shadow' : 0 2px 2px 0 $color-black-transparent,
    '0-2-10-0-shadow': 0 2px 10px 0 $color-shadow,
    '0-2-20-0-shadow': 0 2px 20px 0 $color-shadow,
    '0-5-10-0-shadow': 0 5px 10px 0 $color-black-transparent,
    '0-2-6-shadow'   : '0px 2px 6px rgba(0,0,0, .25)',
  ),),
);

// cursor cur
$cursor: (
  (vals: ('p': pointer, 'c': crosshair, 'm': move, 'ha': hand, 'he': help)),
);

// display d
$display: (
  (vals: ('n': none, '-i': inline, 'b': block, 'ib': 'inline-block', 'f': flex, 'if': inline-flex, 'g': grid, 't': table, 'tc': table-cell, 'tr': table-row, 'it': inline-table)),
  (vals: ('n': none, '-i': inline, 'b': block, 'ib': 'inline-block', 'f': flex, 'if': inline-flex, 'g': grid), bp: $bp-lg-mx),
  (vals: ('n': none, '-i': inline, 'b': block, 'ib': 'inline-block', 'f': flex, 'if': inline-flex, 'g': grid), bp: $bp-md-mx),
  (vals: ('n': none, '-i': inline, 'b': block, 'ib': 'inline-block', 'f': flex, 'if': inline-flex, 'g': grid), bp: $bp-sm-mx),
  (vals: ('n': none, '-i': inline, 'b': block, 'ib': 'inline-block', 'f': flex, 'if': inline-flex, 'g': grid), bp: $bp-smx-mx),
);

//********************
// flex-box
//********************

// flex-grow fxg
$flexGrow: (
  (vals: ('1': 1,'2': 2,'3': 3,'4': 4, '5': 5,)),
);

// flex-Shring fxsh
$flexShrink: (
  (vals: ('1': 1,'2': 2,'3': 3,'4': 4, '5': 5,)),
);

// flex-basis fxb
$flexBasis: (
  (vals: ('100': 100px),),
);

// flex-direction fxdr
$flexDirection: (
  (vals: ('r': row, 'c': column, 'rr': row-reverse, 'cr': column-reverse),),
  (vals: ('r': row, 'c': column, 'rr': row-reverse, 'cr': column-reverse), bp: $bp-lg-mx),
  (vals: ('r': row, 'c': column, 'rr': row-reverse, 'cr': column-reverse), bp: $bp-md-mx),
  (vals: ('r': row, 'c': column, 'rr': row-reverse, 'cr': column-reverse), bp: $bp-sm-mx),
);

// flex-wrap fxw
$flexWrap: (
  (vals: ('n': nowrap, 'w': wrap, 'r': wrap-reverse),),
);

// align-items ai
$alignItems: (
  (vals: ('fs': flex-start, 'fe': flex-end, 'b': baseline, 'c': center, 's': stretch),),
);

// align-self as
$alignSelf: (
  (vals: ('b': baseline, 'c': center, 'a': auto),),
);

// justify-content jc
$justifyContent: (
  (vals: ('fs': flex-start, 'fe': flex-end, 'c': center, 'sb': space-between, 'sa': space-around),),
  (vals: ('fs': flex-start, 'fe': flex-end, 'c': center, 'sb': space-between, 'sa': space-around), bp: $bp-lg-mx),
  (vals: ('fs': flex-start, 'fe': flex-end, 'c': center, 'sb': space-between, 'sa': space-around), bp: $bp-md-mx),
  (vals: ('fs': flex-start, 'fe': flex-end, 'c': center, 'sb': space-between, 'sa': space-around), bp: $bp-sm-mx),
);

// order ord
$order: (
  (vals: ('1': 1,'2': 2,'3': 3,'4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9, '10': 10, '99': 99,)),
  (vals: ('1': 1,'2': 2,), bp: $bp-md-mx),
);
//********************
// end flexbox
//********************

// float
$float: (
  (vals: ('l': left, 'r': right, 'n': none)),
  (vals: ('l': left, 'r': right, 'n': none), bp: $bp-lg-mx),
  (vals: ('l': left, 'r': right, 'n': none), bp: $bp-md-mx),
  (vals: ('l': left, 'r': right, 'n': none), bp: $bp-sm-mx),
  (vals: ('l': left, 'r': right, 'n': none), bp: $bp-smx-mx),
);

//********************
// font
//********************

// font-family ff
$fontFamily: (
  (vals: ('s': serif, 'ss': sans-serif, '-heebo': 'Heebo', '-playfair': 'Playfair Display',)),
);

// font-size fz
$fzs: (
  '0': 0, '10': 10px, '12': 12px, '13': 13px, '14': 14px, '15': 15px, '16': 16px,
  '17': 17px, '18': 18px, '19': 19px, '20': 20px, '21': 21px, '22': 22px, '23': 23px,
  '24': 24px, '25': 25px, '26': 26px, '27': 27px, '28': 28px, '32': 32px, '34': 34px,
  '36': 36px, '42': 42px, '48': 48px, '50': 50px, '56': 56px, '60': 60px, '64': 64px, '80': 80px,
);

$fontSize: (
  (vals: $fzs),
  (vals: ('50': 50px, ), bp: $bp-lg-mx, ),
  (vals: ('32': 32px, ), bp: $bp-md-mx, ),
  (vals: ('16': 16px, '18': 18px, '24': 24px), bp: $bp-sm-mx, ),
);

// font-style fs
$fontStyle: (
  (vals: ('i': italic, 'o': oblique),),
);

// font-weight fw
$fontWeight: (
  (vals: ('100': 100, '200': 200, '300': 300, '400': 400, '500': 500, '600': 600, '700': 700, '800': 800, '900': 900,)),
);

// letter-spacing lts
$letterSpacing: (
  (vals: ('1': 1px, '3': 3px, '5': 5px,)),
);
//********************
// end font
//********************

// height h
$height: (
  (vals: ('1': 1px, '2': 2px, '3': 3px, '4': 4px, '10': 10px, '15': 15px,
          '16': 16px, '18': 18px, '20': 20px, '24': 24px, '26': 26px, '30': 30px,
          '36': 36px, '40': 40px, '44': 44px, '50': 50px, '56': 56px,
          '64': 64px, '72': 72px, '88': 88px, '90': 90px,'104': 104px,
          '120': 120px, '144': 144px, '150': 150px, '160': 160px, '184': 184px,
          '240': 240px, '300': 300px, '328': 328px, '340': 340px,
          '352': 352px, '400': 400px, '500': 500px, '600': 600px,
        )),
  (vals: ('40': 40px, '44': 44px, '100': 100px, '375': 375px,
          '450': 450px,
        ), bp: $bp-lg-mx,),
  (vals: ('600': 600px, ), bp: $bp-md-mx,),
  (vals: ('-auto': auto, ), bp: $bp-md-mx,),
  (vals: ('300': 300px, '700': 700px, ), bp: $bp-sm-mx,),
  (vals: ('-auto': auto, ), bp: $bp-sm-mx,),
  (vals: ('400': 400px, ), bp: $bp-smx-mx,),
);

$height-perc: (
  (vals: ('50': 50%, '90': 90%, '100': 100%, )),
  (vals: ('100': 100%, ), bp: $bp-lg-mx,),
  (vals: ('100': 100%, ), bp: $bp-md-mx,),
  (vals: ('90': 90%, '100': 100%, ), bp: $bp-650h-mih,),
  (vals: ('90': 90%, '100': 100%, ), bp: $bp-650h-mah,),
  (vals: ('90': 90%, '100': 100%, ), bp: $bp-sm-mx,),
);

$height-vw: (
  (vals: ('100': 100vh)),
);

$maxHeight: (
  (vals: ('300': 300px, )),
  (vals: ('400': 400px, '500': 500px, ), bp: $bp-500h-mih,),
  (vals: ('700': 700px, '800': 800px, ), bp: $bp-800h-mih,),
  (vals: ('900': 900, '1000': 1000px, ), bp: $bp-1000h-mih,),
);

$maxHeight-perc: (
  (vals: ('90': 90%,), bp: $bp-sm-mx,),
);

$minHeight: (
  (vals: ('300': 300px, '500': 500px, )),
);

// list-style ls
$listStyle: (
  (vals: ('n': none, 'd': disc,)),
);

// margin m, margin-top mt, margin-bottom mb, margin-left ml, margin-right mr
$margin: (
  (vals: ('-208': -208px, '-72': -72px, '-16': -16px, '-8': -8px, '-6': -6px,
          '-4': -4px, '0': 0px, '4': 4px, '5': 5px, '6': 6px, '8': 8px, '10': 10px, '13': 13px,
          '14': 14px, '15': 15px, '16': 16px, '18': 18px, '20': 20px, '24': 24px, '25': 25px, '30': 30px,
          '32': 32px, '36': 36px, '40': 40px, '44': 44px, '48': 48px, '50': 50px, '56': 56px,
          '60': 60px, '70': 70px, '72': 72px, '80': 80px, '88': 88px, '92': 92px, '104': 104px,
          '110': 110px, '120': 120px, '150': 150px,
          )),
  (vals: ('10-0': 10px 0, '32-0': 32px 0, '0-auto': 0 auto,),),
  (vals: ('10': 10px, '16': 16px, '80': 80px,), bp: $bp-lg-mx,),
  (vals: ('-32': -32px, '0': 0px, '12': 12px, '16': 16px, '24': 24px,
          '28': 28px, '32': 32px, '48': 48px, '72': 72px, '96': 96px,
          '104': 104px, '115': 115px,), bp: $bp-md-mx,),
  (vals: ('0-auto': 0 auto,), bp: $bp-md-mx,),
  (vals: ('-208': -208px, '-8': -8px, '-16': -16px, '0': 0px, '15': 15px,
          '16': 16px, '20': 20px, '24': 24px, '25': 25px, '40': 40px,
        ), bp: $bp-sm-mx,),
  (vals: ('0-auto': 0 auto,), bp: $bp-sm-mx,),
  (vals: ('-32': -32px,), bp: $bp-smx-mx,),
);

// opacity op
$opacity: (
  (vals: ('0': 0, '\\.1': .1, '\\.2': .2, '\\.3': .3, '\\.4': .4, '\\.5': .5,
          '\\.6': .6, '\\.7': .7, '\\.8': .8, '\\.9': .9, '1': 1,)),
);

// overflow o, overflow-x ox, overflow-y oy
$overflow: (
  (vals: ('h': hidden, 'a': auto, 's': scroll),),
  (vals: ('h': hidden, ), bp: $bp-md-mx,),
  (vals: ('h': hidden, ), bp: $bp-sm-mx,),
);

// padding p, padding-top pt, padding-bottom pb, padding-left pl, padding-right pr
$padding: (
  (vals: ('0': 0, '4': 4px, '5': 5px, '6': 6px, '8': 8px, '10': 10px, '15': 15px, '16': 16px,
          '20': 20px, '24': 24px, '30': 30px, '32': 32px, '40': 40px, '44': 44px,
          '48': 48px, '50': 50px, '52': 52px, '56': 56px, '60': 60px, '64': 64px,
          '72': 72px, '80': 80px, '100': 100px, '120': 120px, '125': 125px,
        )),
  (vals: ('4-0': 4px 0, '10-0': 10px 0, '16-0': 16px 0, '20-0': 20px 0, '24-0': 24px 0,
          '32-0': 32px 0, '40-0': 40px 0, '48-0': 48px 0, '64-0': 64px 0, '72-0': 72px 0,
        )),
  (vals: ('0-8': 0 8px, '0-10': 0 10px, '0-16': 0 16px, '0-20': 0 20px, '0-32': 0 32px,
          '0-40': 0 40px, '0-80': 0 80px,
        ), bp: $bp-lg-mx,),
  (vals: ('20': 20px), bp: $bp-lg-mx,),
  (vals: ('0-10':  0 10px,), bp: $bp-lg-mx,),
  (vals: ('0': 0, '10': 10px, '20': 20px, '32': 32px, '40': 40px, '48': 48px,), bp: $bp-md-mx,),
  (vals: ('0': 0, '8': 8px, '10': 10px, '15': 15px, '16': 16px, '24': 24px,
          '30': 30px, '32': 32px, '40': 40px, '58': 58px, '80': 80px,
          '100': 100px,),
          bp: $bp-sm-mx,
        ),
  (vals: ('0-24': 0 24px,), bp: $bp-sm-mx,),
  (vals: ('16': 16px, '40': 40px, '100': 100px,), bp: $bp-650h-mih,),
  (vals: ('16': 16px, '40': 40px, '100': 100px,), bp: $bp-650h-mah,),
);

// position pos
$position: (
  (vals: ('s': static, 'r': relative, 'a': absolute, 'f': fixed)),
  (vals: ('s': static, 'r': relative, 'a': absolute, 'f': fixed), bp: $bp-lg-mx,),
  (vals: ('s': static, 'r': relative, 'a': absolute, 'f': fixed), bp: $bp-md-mx,),
  (vals: ('s': static, 'r': relative, 'a': absolute, 'f': fixed), bp: $bp-sm-mx,),
  (vals: ('a': absolute, ), bp: $bp-650h-mih,),
  (vals: ('a': absolute, ), bp: $bp-650h-mah,),
);

//********************
// svg
//********************

// stroke s-
$stroke : (
  (vals: (
    'black'       : $color-black,
    'white'       : $color-white,
    'purple'      : $color-purple,
    'mid-blue'    : $color-mid-blue,
    'neon-yellow' : $color-neon-yellow,
    'brass'       : $color-brass,
  )),
);

$strokeWidth : (
  ( vals: ('1': 1px, '2': 2px, '3': 3px, )),
);

// fill f-
$fill : (
  (vals: (
    'white'      : $color-white,
    'purple'     : $color-purple,
    'brass'      : $color-brass,
    'pale-blue'  : $color-pale-blue,
    'neon-yellow': $color-neon-yellow,
    'bright-red' : $color-bright-red,
    'almond'     : $color-almond,
    'dark-blue'  : $color-dark-blue,
  )),
);

$fillHover: (
  (vals: ('brass': $color-brass,)),
);

//********************
// end svg
//********************

//********************
// text
//********************

// text-align ta
$textAlign: (
  (vals: ('l': left, 'c': center, 'r': right, 'j': justify),),
  (vals: ('l': left, 'c': center, 'r': right, 'j': justify), bp: $bp-lg-mx,),
  (vals: ('l': left, 'c': center, 'r': right, 'j': justify), bp: $bp-md-mx,),
  (vals: ('l': left, 'c': center, 'r': right, 'j': justify), bp: $bp-sm-mx,),
  (vals: ('l': left, 'c': center, 'r': right, 'j': justify), bp: $bp-smx-mx,),
);

// text-decoration td
$textDecoration: (
  (vals: ('n': none, 'u': underline)),
);

//text-shadow txsh
$textShadow: (
  (vals: (
    '0-2-10-black': 0 2px 10px $color-black,
    '0-2-10-white': 0 2px 10px $color-white,
  )),
);

// text-transform tt
$textTransform: (
  (vals: ('u': uppercase, 'n': none)),
);

// line-height lh
$lineHeight: (
  (vals: ('0': 0, '\\.4': 0.4, '1': 1, '1\\.2': 1.2, '1\\.3': 1.3, '1\\.4': 1.4, '1\\.5': 1.5, '2': 2, )),
);
//********************
// end text
//********************

/// transform trf-
$transforms: (
  (vals: ('rx180': 'rotateX(180deg)', 'ry180': 'rotateY(180deg)', 'rz180': 'rotateZ(180deg)', 'rz180-ty-50\\%': rotateZ(180deg) translateY(-50%), )),
  (vals: ('rz-90': 'rotateZ(-90deg)'), bp: $bp-md-mx),
);

/// transition trs-
$transitions: (
  (vals: ('all-0\\.2s-eio': all 0.2s ease-in-out, 'bgc-0\\.3s-eio': background-color 0.3s ease-in-out, )),
);


// width w
$width: (
  (vals: ('1': 1px, '5': 5px, '8': 8px, '10': 10px, '16': 16px, '18': 18px, '20': 20px,
          '24': 24px, '25': 25px, '36': 36px, '40': 40px, '44': 44px, '48': 48px,
          '50': 50px, '90': 90px, '96': 96px, '100': 100px, '110': 110px, '120': 120px,
          '150': 150px, '160': 160px, '192': 192px, '200': 200px, '250': 250px, '400': 400px,
          '450': 450px, '500': 500px, '800': 800px,
        )),
  (vals: ('250': 250px,), bp: $bp-lg-mx,),
  (vals: ('16': 16px, '200': 200px, '250': 250px,), bp: $bp-md-mx,),
  (vals: ('400': 400px,), bp: $bp-sm-mx,),
  (vals: ('300': 300px,), bp: $bp-smx-mx,),
);

$maxWidth: (
  (vals: ('180': 180px, '648': 648px, )),
);

$maxWidth-perc: (
  (vals: ('90': 90%, )),
);

$minWidth: (
  (vals: ('250': 250px,)),
  (vals: ('200': 200px,), bp: $bp-md-mx,),
);

$width-perc: (
  (vals: ('15': 15%, '20': 20%, '25': 25%, '30': 30%, '40': 40%, '50': 50%,
          '60': 60%, '70': 70%, '75': 75%, '80': 80%, '85': 85%, '90': 90%,
          '100': 100%,
        )),
  (vals: ('35': 35%, '60': 60%, '75': 75%, '80': 80%, '100': 100%,), bp: $bp-lg-mx,),
  (vals: ('50': 50%, '75': 75%, '80': 80%, '100': 100%, '105': 105%,), bp: $bp-md-mx,),
  (vals: ('20': 20%, '50': 50%, '80': 80%, '100': 100%,), bp: $bp-sm-mx,),
  (vals: ('100': 100%, ), bp: $bp-smx-mx,),
  (vals: ('100': 100%, ), bp: $bp-650h-mih,),
  (vals: ('100': 100%, ), bp: $bp-650h-mah,),
);

// vertical-align va
$verticalAlign: (
  (vals: ('t': top, 'b': bottom, 'm': middle, 'sup': super, 'sub': sub, 'base': base,)),
);

// word-break wob
$wordBreak: (
  (vals: ('n': normal, 'k': keep-all, 'ba': break-all, 'nm': normal,)),
);

// word-wrap wow
$wordWrap: (
  (vals: ('u': unrestricted, 's': suppress, 'b': break-word, 'n': none,)),
);

//z-index z
$zIndex: (
  (vals: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '99': 99,)),
);
