$breakpoint-order: (
  $bp-lgx-mx,
  $bp-lg-mx ,
  $bp-md-mx ,
  $bp-sm-mx ,
  $bp-smx-mx,
  $bp-lgx-mn,
  $bp-lg-mn ,
  $bp-md-mn ,
  $bp-sm-mn ,
  $bp-smx-mn,
);

// atomic generation configuration
$atomic-config:(
//(attribute,         className,  postfix , modifier, style variants)
  ('background-color',  'bgc-',    '',         '',        $backgroundColor),
  ('border',            'bd',      '',         '',        $border),
  ('border-top',        'bt',      '',         '',        $border),
  ('border-bottom',     'bb',      '',         '',        $border),
  ('border-left',       'bl',      '',         '',        $border),
  ('border-right',      'br',      '',         '',        $border),
  // top bottom left right
  ('top',               't',       '',         '',        $ts),
  ('top',               't',       'vw',       '',        $ts-vw),
  ('top',               't',       '\\%',      '',        $ts-perc),
  ('bottom',            'b',       '',         '',        $bs),
  ('bottom',            'b',       'vw',       '',        $bs-vw),
  ('bottom',            'b',       '\\%',      '',        $bs-perc),
  ('left',              'l',       '',         '',        $ls),
  ('left',              'l',       'vw',       '',        $ls-vw),
  ('left',              'l',       '\\%',      '',        $ls-perc),
  ('right',             'r',       '',         '',        $rs),
  ('right',             'r',       'vw',       '',        $rs-vw),
  ('right',             'r',       '\\%',      '',        $rs-perc),
  // end top bottom left right
  ('box-shadow',        'bxsh',    '',         '',        $boxShadow),
  ('cursor',            'cur',     '',         '',        $cursor),
  ('clear',             'cl',      '',         '',        $clear),
  ('color',             'c-',      '',         '',        $color),
  ('color',             'c-',      '\\:h',     ':hover',  $color),
  ('display',           'd',       '',         '',        $display),
  // start flexbox
  ('flex',              'flx',     '',         '',        $flex),
  ('flex-grow',         'fxg',     '',         '',        $flexGrow),
  ('flex-shring',       'fxsh',    '',         '',        $flexShrink),
  ('flex-basis',        'fxb',     '',         '',        $flexBasis),
  ('flex-direction',    'fxdr',    '',         '',        $flexDirection),
  ('flex-wrap',         'fxw',     '',         '',        $flexWrap),
  ('align-items',       'ai',      '',         '',        $alignItems),
  ('align-self',        'as',      '',         '',        $alignSelf),
  ('justify-content',   'jc',      '',         '',        $justifyContent),
  ('order',             'ord',     '',         '',        $order),
  // end flex-box
  ('float',             'fl',      '',         '',        $float),
  // font
  ('font-family',       'ff',      '',         '',        $fontFamily),
  ('font-size',         'fz',      '',         '',        $fontSize),
  ('font-size',         'fz',      'vw',       '',        $fontSize-vw),
  ('font-style',        'fs',      '',         '',        $fontStyle),
  ('font-Weight',       'fw',      '',         '',        $fontWeight),
  ('letter-spacing',    'lts',     '',         '',        $letterSpacing),
  // end font
  // grid
  // ???
  // end grid
  // height
  ('height',            'h',       '',         '',        $height),
  ('height',            'h',       'vw',       '',        $height-vw),
  ('height',            'h',       '\\%',      '',        $height-perc),
  ('max-height',        'mah',     '',         '',        $height),
  ('max-height',        'mah',     'vw',       '',        $height-vw),
  ('max-height',        'mah',     '\\%',      '',        $height-perc),
  ('min-height',        'mih',     '',         '',        $height),
  ('min-height',        'mih',     'vw',       '',        $height-vw),
  ('min-height',        'mih',     '\\%',      '',        $height-perc),
  // end height
  ('list-style',        'ls',      '',         '',        $listStyle),
  // margin
  ('margin',            'm',       '',         '',        $margin),
  ('margin',            'm',       'vw',       '',        $margin-vw),
  ('margin',            'm',       '\\%',      '',        $margin-perc),
  ('margin-top',        'mt',      '',         '',        $margin),
  ('margin-top',        'mt',      'vw',       '',        $margin-vw),
  ('margin-top',        'mt',      '\\%',      '',        $margin-perc),
  ('margin-bottom',     'mb',      '',         '',        $margin),
  ('margin-bottom',     'mb',      'vw',       '',        $margin-vw),
  ('margin-bottom',     'mb',      '\\%',      '',        $margin-perc),
  ('margin-left',       'ml',      '',         '',        $margin),
  ('margin-left',       'ml',      'vw',       '',        $margin-vw),
  ('margin-left',       'ml',      '\\%',      '',        $margin-perc),
  ('margin-right',      'mr',      '',         '',        $margin),
  ('margin-right',      'mr',      'vw',       '',        $margin-vw),
  ('margin-right',      'mr',      '\\%',      '',        $margin-perc),
  // end margin
  ('opacity',           'op',      '',         '',        $opacity),
  ('overflow',          'o',       '',         '',        $overflow),
  ('overflow-x',        'ox',       '',         '',       $overflow),
  ('overflow-y',        'oy',       '',         '',       $overflow),
  // padding
  ('padding',           'p',       '',         '',        $padding),
  ('padding',           'p',       'vw',       '',        $padding-vw),
  ('padding',           'p',       '\\%',      '',        $padding-perc),
  ('padding-top',       'pt',      '',         '',        $padding),
  ('padding-top',       'pt',      'vw',       '',        $padding-vw),
  ('padding-top',       'pt',      '\\%',      '',        $padding-perc),
  ('padding-bottom',    'pb',      '',         '',        $padding),
  ('padding-bottom',    'pb',      'vw',       '',        $padding-vw),
  ('padding-bottom',    'pb',      '\\%',      '',        $padding-perc),
  ('padding-left',      'pl',      '',         '',        $padding),
  ('padding-left',      'pl',      'vw',       '',        $padding-vw),
  ('padding-left',      'pl',      '\\%',      '',        $padding-perc),
  ('padding-right',     'pr',      '',         '',        $padding),
  ('padding-right',     'pr',      'vw',       '',        $padding-vw),
  ('padding-right',     'pr',      '\\%',      '',        $padding-perc),
  // end padding
  ('position',          'pos',     '',         '',        $position),
  ('stroke',            'stroke-', '',         '',        $stroke),
  ('fill',              'fill-',   '',         '',        $fill),
  // text
  ('text-align',        'ta',      '',         '',        $textAlign),
  ('text-decoration',   'td',      '',         '',        $textDecoration),
  ('text-shadow',       'txsh',    '',         '',        $textShadow),
  ('text-transform',    'tt',      '',         '',        $textTransform),
  ('line-height',       'lh',      '',         '',        $lineHeight),
  // end text
  ('transform',         'trf-',    '',         '',        $transforms),
  ('transition',        'trs-',    '',         '',        $transitions),
  // width
  ('width',             'w',       '',         '',        $width),
  ('width',             'w',       'vw',       '',        $width-vw),
  ('width',             'w',       '\\%',      '',        $width-perc),
  ('max-width',         'maw',     '',         '',        $width),
  ('max-width',         'maw',     'vw',       '',        $width-vw),
  ('max-width',         'maw',     '\\%',      '',        $width-perc),
  ('min-width',         'miw',     '',         '',        $width),
  ('min-width',         'miw',     'vw',       '',        $width-vw),
  ('min-width',         'miw',     '\\%',      '',        $width-perc),
  // end width
  ('vertical-align',    'va',      '',         '',        $verticalAlign),
  ('word-break',        'wob',     '',         '',        $wordBreak),
  ('word-wrap',         'wow',     '',         '',        $wordWrap),
  ('z-index',           'z',       '',         '',        $zIndex),
);
