$breakpoint-order: (
  $bp-lgx-mx,
  $bp-lg-mx ,
  $bp-md-mx ,
  $bp-sm-mx ,
  $bp-smx-mx,
  $bp-500h-mih,
  $bp-650h-mih,
  $bp-800h-mih,
  $bp-1000h-mih,
);

// atomic generation configuration
$atomic-config: (
//(attribute,         className,  postfix , modifier,     style variants),
  ('background-color',  'bgc-',    '',         '',        $backgroundColor),
  ('background-color',  'bgc-',    '\\:h',     ':hover',  $backgroundColorHover),
  ('border',            'bd',      '',         '',        $border),
  ('border-top',        'bt',      '',         '',        $border),
  ('border-bottom',     'bb',      '',         '',        $border),
  ('border-left',       'bl',      '',         '',        $border),
  ('border-right',      'br',      '',         '',        $border),
  ('border-radius',     'bdrs',    '',         '',        $borderRadius),
  // top bottom left right
  ('bottom',            'b',       '',         '',        $bottom),
  ('left',              'l',       '',         '',        $left),
  ('left',              'l',       '\\%',      '',        $left-perc),
  ('right',             'r',       '',         '',        $right),
  ('right',             'r',       '\\%',      '',        $right-perc),
  ('top',               't',       '',         '',        $top),
  ('top',               't',       '\\%',      '',        $top-perc),
  // end top bottom left right
  ('box-shadow',        'bxsh',    '',         '',        $boxShadow),
  ('cursor',            'cur',     '',         '',        $cursor),
  ('clear',             'cl',      '',         '',        $clear),
  ('color',             'c-',      '',         '',        $color),
  ('color',             'c-',      '\\:h',     ':hover',  $colorHover),
  ('display',           'd',       '',         '',        $display),
  // start flexbox
  ('flex-grow',         'fxg',     '',         '',        $flexGrow),
  ('flex-shrink',       'fxsh',    '',         '',        $flexShrink),
  // ('flex-basis',        'fxb',     '',         '',        $flexBasis),
  ('flex-direction',    'fxdr',    '',         '',        $flexDirection),
  ('flex-wrap',         'fxw',     '',         '',        $flexWrap),
  ('align-items',       'ai',      '',         '',        $alignItems),
  ('align-self',        'as',      '',         '',        $alignSelf),
  ('justify-content',   'jc',      '',         '',        $justifyContent),
  ('order',             'ord',     '',         '',        $order),
  // end flex-box
  ('float',             'fl',      '',         '',        $float),
  // font
  ('font-family',       'ff',      '',         '',        $fontFamily),
  ('font-size',         'fz',      '',         '',        $fontSize),
  ('font-style',        'fs',      '',         '',        $fontStyle),
  ('font-Weight',       'fw',      '',         '',        $fontWeight),
  ('letter-spacing',    'lts',     '',         '',        $letterSpacing),
  // end font
  // height
  ('height',            'h',       '',         '',        $height),
  ('height',            'h',       'vw',       '',        $height-vw),
  ('height',            'h',       '\\%',      '',        $height-perc),
  ('min-height',        'mih',     '',         '',        $minHeight),
  ('max-height',        'mah',     '',         '',        $maxHeight),
  // end height
  ('list-style',        'ls',      '',         '',        $listStyle),
  // margin
  ('margin',            'm',       '',         '',        $margin),
  ('margin-top',        'mt',      '',         '',        $margin),
  ('margin-bottom',     'mb',      '',         '',        $margin),
  ('margin-left',       'ml',      '',         '',        $margin),
  ('margin-right',      'mr',      '',         '',        $margin),
  // end margin
  ('opacity',           'op',      '',         '',        $opacity),
  ('overflow',          'o',       '',         '',        $overflow),
  ('overflow-x',        'ox',      '',         '',        $overflow),
  ('overflow-y',        'oy',      '',         '',        $overflow),
  // padding
  ('padding',           'p',       '',         '',        $padding),
  ('padding-top',       'pt',      '',         '',        $padding),
  ('padding-bottom',    'pb',      '',         '',        $padding),
  ('padding-left',      'pl',      '',         '',        $padding),
  ('padding-right',     'pr',      '',         '',        $padding),
  // end padding
  ('position',          'pos',     '',         '',        $position),
  // svg
  ('stroke',            's-',      '',         '',        $stroke),
  ('stroke-width',      'sw',     '',         '',        $strokeWidth),
  ('fill',              'f-',      '',         '',        $fill),
  ('fill',              'f-',      '\\:h',     ':hover',  $fillHover),
  // end svg
  // text
  ('text-align',        'ta',      '',         '',        $textAlign),
  ('text-decoration',   'td',      '',         '',        $textDecoration),
  ('text-shadow',       'txsh',    '',         '',        $textShadow),
  ('text-transform',    'tt',      '',         '',        $textTransform),
  ('line-height',       'lh',      '',         '',        $lineHeight),
  // end text
  // width
  ('transform',         'trf-',    '',         '',        $transforms),
  ('transition',        'trs-',    '',         '',        $transitions),
  ('width',             'w',       '',         '',        $width),
  ('width',             'w',       '\\%',      '',        $width-perc),
  ('max-width',         'maw',     '',         '',        $maxWidth),
  ('max-width',         'maw',     '\\%',      '',        $maxWidth-perc),
  ('min-width',         'miw',     '',         '',        $minWidth),
  // end width
  ('vertical-align',    'va',      '',         '',        $verticalAlign),
  ('word-break',        'wob',     '',         '',        $wordBreak),
  ('word-wrap',         'wow',     '',         '',        $wordWrap),
  ('z-index',           'z',       '',         '',        $zIndex),
);
