// breakpoints used for generating helpers
$helper-bps: (
  $bp-lgx-mx,
  $bp-lg-mx ,
  $bp-md-mx ,
  $bp-sm-mx ,
  $bp-smx-mx,
  $bp-500h-mih,
  $bp-650h-mih,
  $bp-800h-mih,
  $bp-1000h-mih,
);

$centering-on: true;
$display-toggles-on: true;
$transforms-on: false;
$transitions-on: false;
$uncategorized-on: true;