$helper-bps: (
  $bp-lgx-mx,
  $bp-lg-mx ,
  $bp-md-mx ,
  $bp-sm-mx ,
  $bp-smx-mx,
  $bp-lgx-mn,
  $bp-lg-mn ,
  $bp-md-mn ,
  $bp-sm-mn ,
  $bp-smx-mn,
);

$centering-on: true;
$display-toggles-on: true;
$transforms-on: true;
$transitions-on: true;
$uncategorized-on: true;