//variable naming
// use $<property>-description: value
  // ex.
  // $color-light-blue
  // $width-large

// base font -- assuming we are working with font-size: 10px;
// default is 18px
$font-size-base: 2rem;

// wire framing colors
$color-black    : #101010;
$color-white    : #ffffff;
$color-lightgray: lightgray;
$color-gray     : gray;

// width of site's content
$width-wrapper: 1024px;

// the footer is always supposed to be on the bottom of the page, unless the
// content naturally pushes the footer below the fold. However, some content
// doesn't add to the document height, and there can be cases where the footer
// will appear above other content when the browser has a small view height.
//
// When a browsers height is less than this variable, then we need to force the
// footer below the bottom of the screen so everything will fit the following
// pages/components determine this cutoff as necessary:
//   home page, navigation
$height-cutoff-point: 750px;

$padding-grid-side: 20px;
$padding-grid-container: 0 $padding-grid-side;

// heights/widths
$height-header   : 56px;
$height-header-md: 48px;
$height-header-sm: 48px;
$height-footer   : 208px;
$height-footer-md: 208px;
$height-footer-sm: 344px;

$min-height-site   : $height-cutoff-point;
$min-height-site-sm: $height-cutoff-point + 400px;

// site colors - often named using http://chir.ag/projects/name-that-color
$color-background : $color-white;

// transparent
$color-black-transparent: rgba(#000, .25);

//$color- #ce1a37;
//$color- #db2c59;
// nav colors purple, brass, dark-blue, bright-red, neon-yellow, almond, mid-blue
