*, *:before, *:after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: $color-background;
}

.grid-container {
  max-width: $width-wrapper;
  margin: 0 auto;
  padding: 0 10px;
}

button {
  padding: 0;
  border: none;
  background: inherit;
  cursor: pointer;
  border-radius: 0;
  outline: none;
}

a {
  color: inherit;
  transition: color 0.3s, background 0.3s;
}

strong {
  font-weight: 700;
}

.user-entered-html {
  a {
    font-weight: 400;
  }

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }

  ul,
  ol {
    padding-left: 20px;
  }

  ul {
    list-style-type: circle;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    margin-bottom: 5px;
  }
}
